p {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 35px;
}

img {
  display: block;
  width: 100%;
}

#nav{
  background-color: #4CAF50;
  border: 0px;
  margin-bottom: -1px;
}

#navtext {
  color: #FFF;
}

#carousel{
  border: 0px;
}
